@import url('https://fonts.cdnfonts.com/css/config-alt');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-secondary: 'Config Alt', sans-serif;
}

body {
  @apply text-text bg-white tracking-[0.12em]
}

main > section.hero {
  background: linear-gradient(74.88deg, #45A396 18.11%, #37D8C3 94.76%);
}

.max-desk {
  @apply max-w-[73rem] mx-auto
}

hr {
  border: none;
}

.hero-title {
  @apply text-white mb-8 tracking-[0.12em] text-4xl min-[512px]:text-[2.75rem] font-extrabold font-sans-secondary uppercase
}

.separate-section {
  @apply max-w-6xl h-px mx-auto w-[70%] bg-secondary bg-opacity-20 rounded-full mt-20 mb-10
}

.gm-style-iw {
  @apply max-[480px]:!max-w-[360px] max-[390px]:!max-w-[300px]
}
.map_info-subtitle {
  @apply text-text mb-4 text-xl italic
}
.map_info-title {
  @apply text-text text-2xl font-extrabold
}
.map_info-contact {
  @apply flex flex-col text-lg mb-4
}
.map_info-contact span:last-child {
  @apply break-all
}
.map_info-locale {
  @apply text-lg
}
.map_info-locale span:last-child {
  @apply font-extrabold
}

.flex-desk {
  @apply max-md:flex-col flex items-center gap-4 w-full justify-between
}
.input {
  @apply w-full py-4 font-sans-secondary px-8 bg-transparent text-text outline-none border-[0.5px] border-text border-opacity-80 rounded-lg placeholder:text-text placeholder:text-opacity-40
}
.input-white {
  @apply text-white border-white rounded-lg placeholder:text-white border-opacity-100
}
.input-label {
  @apply flex flex-col gap-2
}

[data-radix-select-viewport]::-webkit-scrollbar {
  display: flex !important;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F7FAFC;
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CBD5E0;
  border: 4px solid #F7FAFC;
  border-radius: 12px;
  min-height: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #A0AEC0;
}
